name: Auto Bump table-habit Cask

on:
  schedule:
    - cron: "0 8 * * *"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  bump-cask:
    runs-on: macos-latest
    steps:
      - name: Update Homebrew cask
        uses: Homebrew/actions/bump-packages@main
        with:
          token: ${{secrets.GH_TOKEN}}
          casks: >
            table-habit
            table-habit@beta
          fork: false
