name: Auto Bump table-habit Cask

on:
  schedule:
    - cron: "0 8 * * *"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  bump-cask:
    runs-on: macos-latest
    steps:
      - name: Install rubocop-ast using brew ruby
        run: |
          GEMBIN=$(brew ruby -e 'puts Gem.bindir')
          echo "Using GEMBIN=${GEMBIN}"
          "${GEMBIN}/gem" install rubocop-ast
      - name: Update Homebrew cask
        uses: macauley/action-homebrew-bump-cask@v1
        with:
          token: ${{secrets.GH_TOKEN}}
          tap: FriesI23/brew-repo
          cask: table-habit, table-habit@beta
          force: false
          livecheck: true
