name: Auto Bump table-habit Cask

on:
  schedule:
    - cron: "0 8 * * *"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  bump-cask:
    runs-on: macos-latest
    steps:
      - name: Install rubocop-ast using portable Ruby
        run: |
          brew update-reset
          brew vendor-install ruby
          PORTABLE_RUBY=$(brew --repository)/Library/Homebrew/vendor/portable-ruby
          GEMBIN=$(find "$PORTABLE_RUBY" -type f -name gem \
            | sort \
            | tail -n 1) 
          echo "RUBYS=$PORTABLE_RUBY"
          echo "GEMBIN=$GEMBIN"
          "$GEMBIN" install rubocop-ast
      - name: Update Homebrew cask
        uses: macauley/action-homebrew-bump-cask@v1
        with:
          token: ${{secrets.GH_TOKEN}}
          tap: FriesI23/brew-repo
          cask: table-habit, table-habit@beta
          force: false
          livecheck: true
